<div class="default-block">
  <%= render partial: "messages/errors", locals: {resource: @note} %>
  <h2>Edit Note</h2>
  <div class="line-dark"></div>
  <%= render partial: "edit_form", locals: {note: @note} %>
</div>