<div class="comment-block">
  <h2>All Project Comments</h2>
  <div class="line-dark"></div>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: "comments/comment", collection: @comments%>
  </div>
</div>

