<% if task.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(task.errors.count, "error") %>
      prohibited this task from being saved:
    </h3>
 
    <ul>
    <% task.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>