<%= render partial: "project_task_options", locals:{overdue: @overdue, active: @active, complete: @complete} %>

<div class="task-block">
  <h2>Completed Tasks</h2>
  <div class="line-dark"></div>
  <% if @tasks.empty? %>
    <h4>It looks like you haven't completed any tasks yet. </h4>
  <% else %>
    <div class="row">
      <% @tasks.each_with_index do |task, index| %>
        <%= render partial: "task", locals: {task: task, index: index } %>
      <%end %>
    </div>
  <% end %> <!-- if/else end -->
</div> <!-- block end -->