<%= render partial: "task_status_filter", locals:{overdue: @overdue, active: @active, complete: @complete} %>

<div class="task-block">
  <h2>Active Tasks</h2>
  <div class="line-dark"></div>
  <% if @tasks.empty? %>
    <h4>It looks like you don't have any tasks. Why not create new one?</h4>
  <% else %>
    <div class="row">
      <%= render @tasks %>
    </div>
  <% end %>
</div>