<h1>Are you ready to start using the world's favorite personal project management app?</h1>


<h3>The Best Features</h3>

<p>And you know, I'm tired ... I'm so tired of pretending like my life
isn't perfect and bitchin' and just winning every second .... And I'm not
perfect and bitchin', and just delivering the goods at every frickin' turn.
.... And then, I just got to add this: There was a whole firestorm
yesterday about Brooke being, you know, a part of our crew. And let me just
say this ... this is all I'm gonna say about it: Where there were four ...
there are now three. Goodbye, Brooke, and good luck in your travels ...
you're gonna need it ... badly... So .... THE BIBLE GRIPPERS! You know?
Dealing with soft targets, and it's just strafing runs in my underwear
before my first cup of coffee because I don't have time for these clowns. I
don't have time for their judgment and their stupidity and .... (sighs) 
Yeah. I did. Because he's nothing shy of that. And it is his job to go out
there and embarrass people. Embarrass them. Not just beat them, but
embarrass them in the process.  </p>




<h3>Free for life</h3>

<p>I'm gonna hang out with these two smokin' hotties and fly privately
around the world. You know, it might be lonely up here, but I sure like the
view, Alex.  So if you think about it, dude, it's like I'm 0-for-3 with
marriage, with ne'er an excuse. And I'm like ... guys, it's right there in
the thing. Duh! We work for the Pope. We murder people. We're Vatican
assassins. And they're gonna fuel the battle-cry of my deadly and dangerous
secret and silent soldiers. 'Cause they're all around you .... Anyway.
Thought you were just messing with one dude. Sorry! WINNING! And Alex, try
to get your mind around this, as a fellow warrior, deep in the trenches:
Their entire manifesto is built upon complete and total surrender ... or
the concept of complete and total surrender. They have zero. They have that
night, and I wil Boom. Print that, people. See where that goes. </p>