
<div class="hero-filter">
  <div class="container">
    <h1>Are you ready to start using the world's favorite project management app?</h1>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %></p>

  </div>
  <div class="hero">  
  </div>
</div>

<div class="home-block home-block-light">
  <div class="container">
    <h3>The Best Features</h3>

    <p>Developed by seasoned project managers, Rails Project Management is a project manager's dream come true. We've cut out what doesn't work and expanded on what does - leaving you with only the best tools and workflows to get the job done.  </p>
  </div>
</div>

<div class="home-block home-block-dark">
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h3>Triple Threat Effectiveness</h3>
      </div>
      <div class="col-md-4">
        <h4>Plan</h4>
        <p>Every good project has a good plan behind it. We make it easy to plan your projects and keep an eye on all the important info.  </p>
      </div>
      <div class="col-md-4">
        <h4>Execute</h4>
        <p>Once your plan is together - execute! Editing tasks is a breeze. </p>
      </div>
      <div class="col-md-4">
        <h4>Collaborate</h4>
        <p>We don't work in silos. Invite other users to collaborate on your projects - with tasks, comments and more!  </p>
      </div>
    </div>

  </div>
</div>

<div class=" home-block home-block-light">
  <div class="container">
    <h3>What are you waiting for?</h3>
    <p><%= link_to "Sign Up", signup_path %> today and see why everyone is raving about this app!</p> 
    
  </div>
</div>

<footer>
  <div class="container">
    <p>&copy; Rails PM 2015</p>
  </div>
</footer>
