<div class="default-block">
  <h2>Your Collaborations</h2>
  <div class="line-dark"></div>
  <% if @projects.empty? %>
    <h4><%= "You haven't been invited to any projects yet." %></h4>
  <% else %>
    <div class="row">
      <%= render @collab_projects %>
    </div>
  <% end %>
</div>
