<%= render partial: "projects_status_filter", locals:{overdue: @overdue, active: @active, complete: @complete} %>

<div class="default-block">
  <h2>Complete Projects</h2>
  <div class="line-dark"></div>
  <% if @projects.empty? %>
    <h4><%= "You haven't completed any projects yet." %></h4>
  <% else %>
    <div class="row">
      <% @projects.each_with_index do |project, index| %>
        <%= render partial: "project", locals: {project: project, index: index} %>
      <%end %>
    </div>
  <% end %>
</div>
