<nav class="navbar navbar-default">
  <div class="container">
      <ul class="subnav nav navbar-nav">
        <li><%= link_to "View Project", project_path(@project) %></li>
        <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
        <li><%= link_to "Notes", project_notes_path(@project) %></li>
        <li><%= link_to "Comments", project_comments_path(@project) %></li>
      <ul>
  </div>
</nav>