<div class="default-block">
  <%= render partial: "messages/errors", locals: {resource: @tag} %>
  <h2>New Tag</h2>
  <div class="line-dark"></div>
  <%= render partial: "new_form", locals: {tag: @tag} %>
</div>

<div class="default-block">
  <h2>Tags</h2>
  <div class="line-dark"></div>
  <div class="row">
  <% @tags.each do |tag| %>
    <%= render partial: "edit_form", locals: {tag: tag} %>
  <% end %>
</div>
