<% if @tag.errors.any? %>
  <div id="error_explanation">
    <h3>
      <%= pluralize(@tag.errors.count, "error") %>
      prohibited this tag from being saved:
    </h3>
    <ul>
      <% @tag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="default-block">
  <h2>Tag Quick Add</h2>
  <div class="line-dark"></div>
  <%= render partial: "quick_add_tag", locals: {tag: @tag} %>
</div>

<div class="default-block">
  <h2>Edit Tags</h2>
  <div class="line-dark"></div>
  <div class="row">
  <% @tags.each do |tag| %>
    <%= render partial: "form", locals: {tag: tag} %>
  <% end %>
  
</div>
