// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-block {
  background-color: #eee;
  padding: 10px 25px;
  margin: 10px 0px;
  border: 2px solid #ddd;
}

.note-form{
  margin-top: 20px;
}

.note-text-area{
  max-width: 100%;
}

.new-note-toggle {
  display: none;
}