// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}

.task-block {
  background-color: #eee;
  padding: 10px 25px;
  margin: 10px 0px;
  border: 2px solid #ddd;
}

.project-select select {
    display: inline-block;
    width: 100%;
    max-width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.task-block .table td {
  padding-top: 15px;
}

.td-button  {
  padding-top: 8px !important;
}

.label-block {
  display: block;
}

.button-align {
  vertical-align: bottom !important;
}

.quick-add {
  display: none;
}

.overdue {
  text-transform: uppercase;
  color: red;
  font-weight: 900;
  font-size: 15px;
}

.complete {
  text-transform: uppercase;
  color: green;
  font-weight: 900;
  font-size: 15px;
}